@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@700&family=Josefin+Sans:wght@700&family=Voltaire&display=swap');

$text: #fff;
$font: 'Fredoka One', cursive;
$base: 6px;
$shadow: 0px 0px 30px, 0 0 5px, 0 0 1em rgba(171, 44, 196, 0.5),
  0 0 0.5em rgba(171, 44, 196, 0.5), 0 0 0.1em rgba(171, 44, 196, 0.5);

.blinkbox {
  display: flex;
  justify-content: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.blink {
  position: relative;
  margin: 20px auto;
  color: $text;
  font-family: 'Voltaire', sans-serif;
  font-size: 3vh;
  text-shadow: $shadow;
  animation: blink 1.5s ease infinite;
  padding: 30px;
}
@media screen and (max-width: 769px) {
  .blink {
    font-size: 2vh;
  }
}
@keyframes blink {
  31%,
  33% {
    color: $text;
    text-shadow: $shadow;
  }
  32% {
    color: #444;
    text-shadow: none;
  }
}

@keyframes blink-letter {
  from {
    color: #444;
    text-shadow: none;
  }
  2%,
  59%,
  64%,
  79% {
    color: $text;
  }
  3%,
  59%,
  63%,
  78% {
    text-shadow: $shadow;
  }
  60% {
    color: #444;
    text-shadow: none;
  }

  75% {
    color: #444;
    text-shadow: none;
  }
}
