@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&family=Voltaire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.container {
  background-image: linear-gradient(to right, #050d22, #070e21, #1c132e),
    linear-gradient(
      to bottom right,
      #153ca0bb,
      #070e2100,
      rgba(144, 53, 172, 0),
      rgba(144, 53, 172, 0)
    ),
    linear-gradient(
      to bottom right,
      #153ca000,
      #153ca000,
      #070e2100,
      rgba(144, 53, 172, 0.61)
    );
  align-items: center;
  background-blend-mode: screen;
  background-size: cover;
}

.mainContainer {
  padding: 4em;
}

@media screen and (max-width: 800px) {
  .mainContainer {
    padding: 1em;
  }
}

.pageHeading {
  text-align: center;
  color: white;
  font-family: 'Voltaire', sans-serif;
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1000px) {
  .pageHeading {
    font-size: 5vw;
    margin-top: 20%;
  }
}

.eventCard {
  font-size: 2vh;
  min-width: 14vh;
  max-width: 18vh;
  min-height: 7vh;
  margin: 1vh;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  font-family: 'Voltaire', sans-serif;
  word-wrap: break-word;
  text-transform: uppercase;
}
.eventCard::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  filter: blur(0px);
  border-radius: 10px;
}
.eventCard span {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  border-radius: 10px;
}

.eventCard:hover {
  border: rgb(222, 121, 138) solid 2px;
}
.eventSelected {
  border: rgb(222, 121, 138) solid 2px;
}

.content {
  z-index: 2;
  color: #fff;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  border-radius: 10px;
}
.content p {
  margin: auto;
  align-items: center;
  padding: 5px;
}
.eventHeading {
  text-align: center;
  font-weight: 900 !important;
  background: #08aeea;
  background: -webkit-linear-gradient(
    to right bottom,
    #08aeea 5%,
    #b721ff 100%
  );
  background: -moz-linear-gradient(to right bottom, #1fdcdf 5%, #2769dc 100%);
  background: linear-gradient(to right bottom, #1fdcdf 5%, #2769dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2vw;
  font-family: 'Voltaire', sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .eventHeading {
    font-size: 4.5vw;
  }
}

.techbadge {
  padding: 4px 20px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1.4vh;
  background: rgba(74, 126, 197, 0.4);
  border: 2px solid rgb(117, 165, 233) !important;
  color: rgb(117, 165, 233) !important;
  z-index: 3;
  text-align: right;
  white-space: nowrap;
  margin: 20px;
}
.nontechbadge {
  padding: 4px 20px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1.4vh;
  background: rgba(220, 111, 141, 0.27);
  border: 2px solid #dc6f8d !important;
  color: #dc6f8d !important;
  z-index: 3;
  text-align: right;
  white-space: nowrap;
  margin: 20px;
}
.headerWrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.eventsContainer {
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  padding: 2rem;
}
.eventDetails {
  padding: 2rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 50em -70px #df159280;
  border-radius: 20px;
  color: white;
  font-family: 'Menlo', monospace;
  font-size: 1vw;
}

@media screen and (max-width: 1000px) {
  .eventDetails {
    font-size: 2vw;
  }
}

@media screen and (max-width: 800px) {
  .eventDetails {
    font-size: 3vw;
  }
}

.roundCard {
  border-radius: 20px;
  padding: 1rem;
  border: 1px solid black;
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.82);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: white;
  margin-bottom: 1em;
  word-wrap: break-word;
}
.iconStyling {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.iconContainer {
  text-align: left;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .pageHeading {
    margin-bottom: 3vh;
  }
}

@media (max-width: 1200px) {
  .pageHeading {
    margin-bottom: 3vh;
  }
  .mainContainer {
    padding: 2rem;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 18%;
  margin: 1vh;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 1510px) {
  .col {
    flex: 1 0 25%;
  }
}

@media (max-width: 770px) {
  .col {
    flex: 1 0 35%;
  }
}
@media (max-width: 510px) {
  .col {
    flex: 1 0 100%;
    text-align: left !important;
  }
}

@media (max-width: 900px) {
  .techbadge::before,
  .nontechbadge::before {
    content: '\A';
  }
}

.registerButton {
  padding: 10px 20px;
  color: #03e9f4;
  background: none;
  border: 2px solid #03e9f4;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border-radius: 5px;
}
.registeredButton {
  padding: 10px 20px;
  color: #fff;
  background: #03e9f4;
  border: 2px solid #03e9f4;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border-radius: 5px;
  font-weight: bold;
}

.registerButton:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 30px #03e9f4;
}

.buttonWrapper {
  text-align: right;
}

.teamModal {
  background-color: white;
  border-radius: 20px;
}
.hideMainContainer {
  display: none;
}

.gooey_button {
  padding: 1rem;
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: #0c1016;
  filter: url("#gooey");
  width: 180px;
  text-align: center;
  float: right;
  margin-top: -80px;
  margin-right: 50px;
  background-color: #03e9f4; }
  .gooey_button:focus {
    outline: none; }
  .gooey_button .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    .gooey_button .bubbles .bubble {
      background-color: #03e9f4;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: -1; }
      .gooey_button .bubbles .bubble:nth-child(1) {
        left: 71px;
        width: 25px;
        height: 25px;
        animation: move-1 3.02s infinite;
        animation-delay: 0.2s; }
      .gooey_button .bubbles .bubble:nth-child(2) {
        left: 32px;
        width: 25px;
        height: 25px;
        animation: move-2 3.04s infinite;
        animation-delay: 0.4s; }
      .gooey_button .bubbles .bubble:nth-child(3) {
        left: 90px;
        width: 25px;
        height: 25px;
        animation: move-3 3.06s infinite;
        animation-delay: 0.6s; }
      .gooey_button .bubbles .bubble:nth-child(4) {
        left: 43px;
        width: 25px;
        height: 25px;
        animation: move-4 3.08s infinite;
        animation-delay: 0.8s; }
      .gooey_button .bubbles .bubble:nth-child(5) {
        left: 43px;
        width: 25px;
        height: 25px;
        animation: move-5 3.1s infinite;
        animation-delay: 1s; }
      .gooey_button .bubbles .bubble:nth-child(6) {
        left: 28px;
        width: 25px;
        height: 25px;
        animation: move-6 3.12s infinite;
        animation-delay: 1.2s; }
      .gooey_button .bubbles .bubble:nth-child(7) {
        left: 18px;
        width: 25px;
        height: 25px;
        animation: move-7 3.14s infinite;
        animation-delay: 1.4s; }
      .gooey_button .bubbles .bubble:nth-child(8) {
        left: 50px;
        width: 25px;
        height: 25px;
        animation: move-8 3.16s infinite;
        animation-delay: 1.6s; }
      .gooey_button .bubbles .bubble:nth-child(9) {
        left: 32px;
        width: 25px;
        height: 25px;
        animation: move-9 3.18s infinite;
        animation-delay: 1.8s; }
      .gooey_button .bubbles .bubble:nth-child(10) {
        left: 86px;
        width: 25px;
        height: 25px;
        animation: move-10 3.2s infinite;
        animation-delay: 2s; }

@keyframes move-1 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -60px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

@keyframes move-2 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -62px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

@keyframes move-3 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -77px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

@keyframes move-4 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -108px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

@keyframes move-5 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -70px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

@keyframes move-6 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -105px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

@keyframes move-7 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -113px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

@keyframes move-8 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -58px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

@keyframes move-9 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -95px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }

@keyframes move-10 {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(0, -108px); }
  100% {
    transform: translate(0, 0);
    opacity: 0; } }
