@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&family=Voltaire&display=swap');
.container {
  background-image: linear-gradient(to right, #050d22, #070e21, #1c132e),
    linear-gradient(
      to bottom right,
      #153ca0bb,
      #070e2100,
      rgba(144, 53, 172, 0),
      rgba(144, 53, 172, 0)
    ),
    linear-gradient(
      to bottom right,
      #153ca000,
      #153ca000,
      #070e2100,
      rgba(144, 53, 172, 0.61)
    );
  min-height: 100vh;
  padding: 8rem;
  align-items: center;
  background-blend-mode: screen;
  background-size: cover;
}
.pageHeading {
  text-align: center;
  color: white;
  font-family: 'Menlo', monospace;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.eventCard {
  font-size: 2vh;
  min-width: 14vh;
  max-width: 18vh;
  height: 7vh;
  margin: 2vh;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  vertical-align: middle;
  background: linear-gradient(205deg, #19e9f0 0%, #00d0ff 100%);
  position: relative;
  font-family: 'Voltaire', sans-serif;
}
.eventCard::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  filter: blur(0px);
  border-radius: 10px;
}
.eventCard span {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  border-radius: 10px;
}
.content {
  z-index: 2;
  color: #fff;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  border-radius: 10px;
}
.content p {
  margin: auto;
  align-items: center;
  padding: 5px;
}
.eventHeading {
  text-align: center;
  font-weight: 900 !important;
  background: #08aeea;
  background: -webkit-linear-gradient(to top, #08aeea 5%, #b721ff 100%);
  background: -moz-linear-gradient(to top, #08aeea 5%, #b721ff 100%);
  background: linear-gradient(to top, #08aeea 5%, #b721ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.8vh;
}

.techbadge {
  padding: 6px 40px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 2vh;
  background: rgba(74, 126, 197, 0.4);
  border: 2px solid rgb(117, 165, 233) !important;
  color: rgb(117, 165, 233) !important;
  z-index: 3;
  text-align: right;
  margin-left: 20px;
  white-space: nowrap;
}
.nontechbadge {
  padding: 6px 40px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 2vh;
  background: rgba(220, 111, 141, 0.27);
  border: 2px solid #dc6f8d !important;
  color: #dc6f8d !important;
  z-index: 3;
  text-align: right;
  margin-left: 20px;
  white-space: nowrap;
}
.headerWrapper {
  text-align: center;
}
.eventsContainer {
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  padding: 2rem;
}
.eventDetails {
  padding: 2rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 0.9em #df1592, -2px -2px 0.9em #19e9f0;
  border-radius: 20px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vh;
}

.roundCard {
  border-radius: 20px;
  padding: 1rem;
  border: 1px solid black;
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.82);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: white;
  margin-bottom: 1em;
}
.iconStyling {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.iconContainer {
  text-align: left;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .pageHeading {
    margin-bottom: 3vh;
  }
}

@media (max-width: 1200px) {
  .pageHeading {
    margin-bottom: 3vh;
  }
  .container {
    padding: 2rem;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 18%;
  margin: 1vh;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 1510px) {
  .col {
    flex: 1 0 25%;
  }
}

@media (max-width: 770px) {
  .col {
    flex: 1 0 35%;
  }
}
@media (max-width: 510px) {
  .col {
    flex: 1 0 100%;
    text-align: left;
  }
}

@media (max-width: 900px) {
  .techbadge::before,
  .nontechbadge::before {
    content: '\A';
  }
}

.registerButton {
  padding: 10px 20px;
  color: #03e9f4;
  background: none;
  border: 2px solid #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border-radius: 5px;
}

.registerButton:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 30px #03e9f4;
}

.buttonWrapper {
  text-align: right;
}
