.footer {
  background-color: #27323a3a;
  bottom: 0 !important;
  padding-top: 80px;
  padding-bottom: 8px !important ;
  height: 170px;
}

.footer_copyright {
  text-align: center !important;
}

.footer_body {
  text-align: center !important;
}

@media (max-width: 768px) {
  .footer_copyright {
    text-align: center !important;
  }

  .footer_body {
    text-align: center !important;
  }
}

.footer h4 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.icon {
  padding: 1em;
  color: white !important;
}
