.footer {
  background-color: #27323a3a;
  color: #fff;
  bottom: 0 !important;
  padding-top: 60px;
  padding-bottom: 8px !important ;
  width: 100%;
}

.footer_copyright {
  text-align: center !important;
}

.footer_body {
  text-align: center !important;
}

@media (max-width: 768px) {
  .footer_copyright {
    text-align: center !important;
  }

  .footer_body {
    text-align: center !important;
  }
}

.footer h4 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.icon {
  padding: 1em;
  color: white !important;
}

.devLink {
  color: #03e9f4;
}

.devLink:hover {
  color: #03e9f4;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #888184, 0 0 4px #888184,
      0 0 5px #888184, 0 0 5px #888184, 0 0 6px #888184;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 3px #bebaba, 0 0 4px #bebaba, 0 0 5px #bebaba,
      0 0 6px #bebaba, 0 0 7px #bebaba, 0 0 8px #bebaba;
  }
}
