@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@700&family=Josefin+Sans:wght@700&family=Voltaire&display=swap');
.container {
  background-image: linear-gradient(to right, #050d22, #070e21, #1c132e),
    linear-gradient(
      to bottom right,
      #153ca0bb,
      #070e2100,
      rgba(144, 53, 172, 0),
      rgba(144, 53, 172, 0)
    ),
    linear-gradient(
      to bottom right,
      #153ca000,
      #153ca000,
      #070e2100,
      rgba(144, 53, 172, 0.61)
    );
  align-items: center;
  z-index: -1;
  min-height: 100vh;
  overflow-x: hidden;
}
.centerItem {
  position: fixed;
}
.logo {
  /*width: 55%;*/
  margin-left: auto;
  margin-right: auto;
  /* left: calc(50% - 45vw); */
  text-align: center;
  width: 50%;
  margin-top: 5vw;
}

/* @media screen and (min-width: 1000px) {
  .logo {
    
  }
} */

.headerRow {
  margin-top: 6%;
}
.dept_section {
  margin-top: 8vw;
}
.dept_cards {
  padding-top: 3em;
}
.registerButton {
  padding: 5px 10px;
  color: #03e9f4;
  background: none;
  border: 2px solid #03e9f4;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 10px;
  letter-spacing: 4px;
  border-radius: 15px;
}
.registerButton:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 30px #03e9f4;
}
@media screen and (max-width: 1000px) {
  .centerLogo {
    top: 20vw;
  }
  .headerRow {
    margin-top: 25%;
  }
}
.astronaut {
  padding-top: 150px;
  display: block;
  animation: anim2 20s linear infinite;
  float: left;
}

.astronaut2 {
  padding-top: 150px;
  display: block;
  animation: anim2 20s linear infinite;
  animation-delay: 1s;
  float: right;
}

@keyframes anim2 {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-30px) rotate(-10deg);
  }
  20% {
    transform: translateY(-60px) rotate(-20deg);
  }
  30% {
    transform: translateY(-90px) rotate(-10deg);
  }
  40% {
    transform: translateY(-120px) rotate(0deg);
  }
  50% {
    transform: translateY(-150px) rotate(-10deg);
  }
  60% {
    transform: translateY(-120px) rotate(0deg);
  }
  70% {
    transform: translateY(-90px) rotate(20deg);
  }
  80% {
    transform: translateY(-60px) rotate(10deg);
  }
  90% {
    transform: translateY(-30px) rotate(0deg);
  }
  100% {
    transform: translateY(0px);
  }
}

.about_section {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 15vw;
}

.sub_title {
  position: relative;
  left: calc(50% - 10px);
  margin-bottom: 3em;
  font-family: 'Menlo', monospace;
}

@media screen and (min-width: 1000px) {
  .sub_title {
    margin-bottom: 6em;
  }
}
.sub_title h2 {
  color: #fff;
  font-size: 3.5vw;
  position: absolute;
  transform: translate(-50%, -50%);
}

.sub_title h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03e9f4;
}

.sub_title h2:nth-child(2) {
  color: #03e9f4;
  animation: animate 4s ease-in-out infinite;
}

.about_content {
  font-family: 'Voltaire', sans-serif;
  color: #fff;
  text-align: justify;
  font-size: 2.5vh;
  margin-top: -1vh;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
/*Departments*/

.card {
  margin: 30px auto;
  width: 200px;
  height: 200px;
  border-radius: 40px;
  box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.4s;
  margin-top: 50px;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image .img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
  z-index: 10;
  box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.2);
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: 'Voltaire', sans-serif;
  font-weight: bold;
  font-size: 2.3rem;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
  z-index: 4;
}

@media screen and (max-width: 1024px) {
  .sub_title h2 {
    font-size: 4.5vw;
  }
}
@media screen and (max-width: 650px) {
  .sub_title h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .about_content {
    padding: 3vw;
    margin-top: 0vh;
  }
}
@media screen and (max-width: 992px) {
  .astronaut {
    display: none;
  }
  .astronaut2 {
    float: none;
    position: relative;
    left: calc(50% - 120px);
    padding-top: 90px;
  }

  .card {
    width: 180px;
    height: 180px;
  }
}
@media screen and (max-width: 769px) {
  .card {
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .card {
    width: 130px;
    height: 130px;
  }
  .card .card_title {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 850px) {
  .logo {
    width: 70%;
  }
}

.icon {
  float: left;
  margin-right: 10px;
}

/* Sponsors*/
.spons_section {
  margin-top: 2rem;
}
#sponsors {
  scroll-margin-top: 400px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.hide {
  display: none;
}
.sponsors {
  text-align: center;
  margin-top: 10rem;
  padding-top: 2em;
  padding: 2em;
}
.sponsors img {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin: 1em;
}
@media screen and (min-width: 1186px) {
  .sponsorsSpaced {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

/*Organiser section*/
.org_section {
  margin-top: 8rem;
}

.org_card_image {
  max-height: 220px;
}
.org_card_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #11192779;
  background-image: radial-gradient(
    at 50% 50%,
    rgba(171, 44, 196, 0.5) 0,
    transparent 90%
  );
}
.org_card {
  position: relative;
  background-color: #11192779;
  background-image: radial-gradient(
    at 50% 50%,
    rgba(171, 44, 196, 0.5) 0,
    transparent 90%
  );
  width: 200px;
  height: 250px;
  border-radius: 6px;
  padding: 1rem;
  color: #fff;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.org_card_image_container {
  margin: -2rem -2rem 1rem -2rem;
}
.org_card_line {
  opacity: 0;
  animation: LineFadeIn 0.8s 0.8s forwards ease-in;
}
.org_card_image {
  opacity: 0;
  animation: ImageFadeIn 0.8s 1.4s forwards;
}
.org_card_title {
  color: white;
  font-weight: 800;
  letter-spacing: 0.01em;
  position: absolute;
  top: -0.5rem;
}
.org_card_content {
  margin-top: -1rem;
  opacity: 0;
  animation: ContentFadeIn 0.8s 1.6s forwards;
}
.org_card_svg {
  position: absolute;
  left: 0;
  top: 80px;
}

.org_card_dept {
  font-weight: bold;
  position: absolute;
  top: 0.8rem;
}

.org_card_phone {
  font-size: 0.9em;
  position: absolute;
  top: 2.2rem;
}

.org_cols {
  margin-top: 55px;
}
@keyframes LineFadeIn {
  0% {
    opacity: 0;
    d: path(
      'M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 '
    );
    stroke: #fff;
  }
  50% {
    opacity: 1;
    d: path(
      'M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300'
    );
    stroke: #888bff;
  }
  100% {
    opacity: 1;
    d: path(
      'M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400'
    );
    stroke: #545581;
  }
}
@keyframes ContentFadeIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes ImageFadeIn {
  0% {
    transform: translate(-0.5rem, -0.5rem) scale(1.05);
    opacity: 0;
    filter: blur(2px);
  }
  50% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    filter: blur(0);
  }
}

@media screen and (max-width: 2000px) {
  .org_card_svg {
    display: none;
  }
  .org_card {
    position: relative;
    height: 270px;
  }
  .org_card_content {
    margin-top: 0;
  }
  .org_card_image {
    border-bottom: solid#03e9f4 2px;
  }
}

/* Timer section */

.timer {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  letter-spacing: 3px;
  margin-top: 6em;
  margin-left: auto;
  margin-right: auto;
  background-color: #11192779;
  background-image: radial-gradient(
    at 50% 50%,
    rgba(171, 44, 196, 0.5) 0,
    transparent 90%
  );
  width: 50vw;
  border-radius: 25px;
}
.days,
.hours,
.minutes,
.seconds {
  display: inline-block;
  padding: 15px 10px;
  width: 10vw;
  height: 100px;
  border-radius: 5px;
  font-size: 1.2em;
  margin: 2vw 1vw;
}
.days {
  border-radius: 12px;
  color: #b6b9be;
  border-radius: 12px;
  color: #b6b9be;
}
.hours {
  border-radius: 12px;
  color: #b6b9be;
}
.minutes {
  border-radius: 12px;
  color: #b6b9be;
}
.seconds {
  border-radius: 12px;
  color: #b6b9be;
}
.numbers {
  color: #c7ccd3;
  font-size: 2.5em;
  font-weight: bold;
}

@media screen and (max-width: 1070px) {
  .timer {
    letter-spacing: 1px;
    width: 70vw;
  }
  .days,
  .hours,
  .minutes,
  .seconds {
    width: 120px;
  }
}

@media screen and (max-width: 770px) {
  .days,
  .hours,
  .minutes,
  .seconds {
    width: 100px;
    height: 90px;
    font-size: 10px;
    padding: 15px 10px;
  }
  .timer {
    letter-spacing: 1px;
    width: 90vw;
  }
}

@media screen and (max-width: 490px) {
  .days,
  .hours,
  .minutes,
  .seconds {
    width: 65px;
    height: 70px;
    font-size: 10px;
    padding: 15px 2px;
  }
  .numbers {
    font-size: 2em;
  }

  .timer {
    letter-spacing: 1px;
    width: 300px;
  }
}
