.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  color: white;
  height: 4em;
}

.inventeLogo {
  margin-left: 2em;
}
.loginBtn {
  margin: 0 2em;
}

.signupBtn {
  margin: 0 2em;
}
