@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&family=Voltaire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.container {
  background-image: linear-gradient(to right, #050d22, #070e21, #1c132e),
    linear-gradient(
      to bottom right,
      #153ca0bb,
      #070e2100,
      rgba(144, 53, 172, 0),
      rgba(144, 53, 172, 0)
    ),
    linear-gradient(
      to bottom right,
      #153ca000,
      #153ca000,
      #070e2100,
      rgba(144, 53, 172, 0.61)
    );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-blend-mode: screen;
  background-size: cover;
  z-index: -1;
}
.mainContainer {
  padding: 4em;
}

@media screen and (max-width: 800px) {
  .mainContainer {
    padding: 2rem;
  }
}

.pageHeading {
  text-align: center;
  color: white;
  font-family: 'Voltaire', sans-serif;
  font-weight: 700;
}

.hide {
  display: none;
}

/*pass cards*/
section.price_section .pricing_plan {
  margin-left: 25px;
  margin-right: 25px;
}

section.price_section {
  padding-bottom: 40px;
}
@media (min-width: 800px) {
  section.price_section {
    padding-bottom: 80px;
  }
}
section.price_section h2 {
  text-align: center;
}
section.price_section .btn_gs {
  display: inline-block;
  max-width: 200px;
  margin: 0;
  display: flex;
  align-items: center;
  color: #283341;
  background: white;
  border-radius: 50px;
  background: #fafafb;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
  border-radius: 122px;
}
section.price_section .btn_gs:hover {
  transform: translateY(0px);
  max-width: 205px;
}
section.price_section .btn_gs:hover svg {
  transition: all 0.1s ease-in;
}

section.price_section .pricing_plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 800px) {
  section.price_section .pricing_plans {
    flex-direction: row;
    align-items: flex-start;
  }
}
section.price_section .pricing_plans .pricing_plan {
  max-width: 250px;
  position: relative;
}

.coming_soon {
  padding: 20px;
  border-radius: 12px;
  opacity: 1;
  background: #040712 !important;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 16px;
}

.cs_header {
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 12px;
  border-bottom: 1px solid #252943;
  margin-bottom: 20px;
}

.coming_soon li {
  text-align: left;
}

.coming_soon li:first_of_type {
  margin: 0;
}
.buttons {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 300px;
  margin-bottom: 20px;
}

section.price_section .pricing_plans .pricing_plan .free_tier,
section.price_section .pricing_plans .pricing_plan .super_tier {
  box-sizing: border-box;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 24px;
}
section.price_section .pricing_plans .pricing_plan .plan_price {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: fit-content;
  margin-top: 28px;
  margin-bottom: 24px;
}
section.price_section .pricing_plans .pricing_plan .plan_price .dollar {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 100%;
  /* or 72px */
  letter-spacing: -0.25px;
  color: #fff;
  margin-right: 8px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}
section.price_section .pricing_plans .pricing_plan .plan_price .price {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 56px;
  /* or 72px */
  letter-spacing: -0.25px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}
section.price_section .pricing_plans .pricing_plan .plan_price .type {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  margin-left: 8px;
  text-align: center;
  letter-spacing: -0.25px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

section.price_section {
  padding-top: 20px;
  position: relative;
}
section.price_section .feature-header {
  margin-top: 20px;
  padding: 0 20px;
}
@media (min-width: 800px) {
  section.price_section .feature-header {
    margin-top: 20px;
  }
}

section.price_section .pricing_obj_1 {
  position: absolute;
  top: 40px;
  left: 10%;
  width: 20%;
  z-index: 10;
  animation: MoveUpDown 16s ease-out infinite;
  animation-delay: 2s;
  filter: drop-shadow(0px 24px 62px rgba(0, 0, 0, 0.5));
}
@media (min-width: 800px) {
  section.price_section .pricing_obj_1 {
    width: auto;
    top: 150px;
  }
}

section.price_section h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */
  text-align: center;
  letter-spacing: -1.25px;
  color: #fff;
}
.pricing_plan {
  margin-top: 2rem !important;
}
section.price_section .pricing_plan {
  position: relative;
}
section.price_section .pricing_plan .plan_bg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(10%, -10%, 0);
}
section.price_section .pricing_plan .combo_bg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0%, -19%, 0);
}
section.price_section .pricing_plan .obj_1 {
  position: absolute;
  top: 0;
  right: -20%;
  z-index: 10;
  animation: MoveUpDown 12s ease-out infinite;
}

section.price_section .free_tier,
section.price_section .super_tier {
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: saturate(180%) blur(40px);
  -webkit-backdrop-filter: saturate(180%) blur(40px);
  padding-top: 20px !important;
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  section.price_section .free_tier,
  section.price_section .super_tier {
    background: radial-gradient(
      100% 100% at 0% 0%,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    backdrop-filter: saturate(180%) blur(40px);
    -webkit-backdrop-filter: saturate(180%) blur(40px);
  }
}

section.price_section .free_tier:after,
section.price_section .super_tier:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  background: url('/assets/pattern/super-plan-border.svg') no-repeat;
  background-size: cover;
  border-radius: 0;
  overflow: hidden;
}
section.price_section .free_tier .plan_title,
section.price_section .super_tier .plan_title {
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  /* or 12px */
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}

section.price_section .free_tier .plan_description,
section.price_section .super_tier .plan_description {
  font-style: normal;
  font-weight: 250;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  letter-spacing: -0.25px;
  z-index: 2;
  color: #fff;
}
section.price_section .free_tier .plan_description span:first-of-type,
section.price_section .super_tier .plan_description span:first-of-type {
  font-weight: 500;
}
section.price_section .free_tier::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  background: url('/assets/pattern/free-plan-border.svg') no-repeat;
  background-size: cover;
  border-radius: 0;
  overflow: hidden;
}
section.price_section .plan_action {
  margin-top: 8px;
}
.plan_action a {
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(42px);
  backdrop-filter: saturate(180%) blur(40px);
  -webkit-backdrop-filter: saturate(180%) blur(40px);
  /* Note: backdrop-filter has minimal browser support */
  width: 80%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-left: -1px;
  width: 300px;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  border-radius: 12px;
  position: relative;
}
.plan_action:hover {
  color: #fff;
  cursor: pointer;
}
section.price_section .plan_action a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  background: url('/assets/pattern/super-btn-border.svg') no-repeat;
  background-size: cover;
  border-radius: 0;
  overflow: hidden;
  z-index: 2;
}
section.price_section .free_tier + .plan_action a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  background: url('/assets/pattern/free-btn-border.svg') no-repeat;
  background-size: cover;
  border-radius: 0;
  overflow: hidden;
}
.wee_cta {
  padding: 100px 0;
}
.wee_cta .flex_col_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wee_cta h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 100%;
  /* or 72px */
  text-align: center;
  letter-spacing: -0.25px;
  color: #f52053;
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media (min-width: 800px) {
  .wee_cta h2 {
    font-size: 72px;
  }
}
@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.plan_action a {
  box-sizing: border-box;
  max-width: 100%;
  display: inline-block;
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(42px);
  backdrop-filter: saturate(180%) blur(40px);
  -webkit-backdrop-filter: saturate(180%) blur(40px);
  /* Note: backdrop-filter has minimal browser support */
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  /* or 20px */
  margin-left: -1px;
  width: 322px;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px 15px;
  color: #fff;
  border-radius: 12px;
  position: relative;
}
.plan_action a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  background: url('https://wee.bio/assets/pattern/super-btn-border.svg')
    no-repeat;
  background-size: cover;
  border-radius: 0;
  overflow: hidden;
  z-index: 2;
}
.free_tier + .plan_action a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  background: url('https://wee.bio/assets/pattern/free-btn-border.svg')
    no-repeat;
  background-size: cover;
  border-radius: 0;
  overflow: hidden;
}
.hide {
  display: None;
}
/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  section.price_section .pricing_plan .plan_bg {
    display: none;
  }
  section.price_section .pricing_plan .combo_bg {
    display: none;
  }
  section.price_section .free_tier,
  section.price_section .super_tier {
    background-image: radial-gradient(
        at 47% 53%,
        hsl(289.9, 97%, 47%) 0,
        transparent 79%
      ),
      radial-gradient(
        100% 100% at 0% 0%,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%,
        transparent 80%
      );
  }
}
