.container {
  background-image: linear-gradient(to right, #050d22, #070e21, #1c132e),
    linear-gradient(
      to bottom right,
      #153ca0bb,
      #070e2100,
      rgba(144, 53, 172, 0),
      rgba(144, 53, 172, 0)
    ),
    linear-gradient(
      to bottom right,
      #153ca000,
      #153ca000,
      #070e2100,
      rgba(144, 53, 172, 0.61)
    );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-blend-mode: screen;
  background-size: cover;
  z-index: -1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Menlo', monospace;
}

.heading {
  font-size: 5vh;
  font-weight: bold;
  margin-bottom: 3vh;
  color: #fff;
  opacity: 80%;
  text-align: center;
  margin-top: 2em;
}

.title {
  margin: 1em;
  font-size: 1vw;
  color: #fff;
}

.titleM {
  margin: 1em;
  font-size: 12px;
  color: #fff;
  border-top: 2px solid #19e9f023;
}

.eventsDesktop {
  margin-top: 2em;
  min-width: 95vw;
  border: 2px transparent;
  border-radius: 25px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 2px 50em -70px #df159280;
}

.scheduleTable {
  margin: 2em 0;
  border: 2px transparent;
  min-width: 90vw;
  border-radius: 25px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 2px 50em -70px #df159280;
}

.time,
.dept,
.event,
.half,
.empty,
.timeM {
  border: none;
  white-space: pre;
  max-width: 3vw;
  word-wrap: break-word;
 font-size: 12px !important;
}

.event {
  text-align: center;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border-left: 2px solid #19e9f023;
  max-width: 50px;
  /* max-height: 10vw;
  /* overflow: hidden; */
  /* overflow-wrap: break-word; */
}

.purple {
  background-color: #845ec2 !important;
}

.pink {
  background-color: #F08FC0 !important;
}

.blue{
  background-color: #39A2DB !important;
}

.teal{
  background-color: #0CECDD !important;
}

.tan{
  background-color: #F9D5A7 !important;
}
.eventM {
  text-align: center;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  border-left: 2px solid #19e9f023;
  word-wrap: break-word;
  max-width: 2vw;
}

.time {
  font-size: 2vh;
  border-left: 2px solid #19e9f023;
}

.timeM {
  font-size: 2vw;
  border-top: 2px solid #19e9f023;
}

.dept {
  text-align: center;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
}

.half {
  display: inline-block;
}

.cards {
  padding: 0;
  margin-top: 2em;
}

.card,
.selectedCard {
  font-size: 0.7em;
  width: 6em;
  height: 4em;
  margin: 1em;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  font-family: 'Voltaire', sans-serif;
  background: rgba(0, 0, 0, 0.5);
  padding: 1em 0 0;
}

.card_title {
  font-size: 1.7vw;
}

.selectedCard {
  border: rgb(222, 121, 138) solid 2px;
}

.day {
  color: #fff;
  font-size: 2vh;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-weight: bold;
  display: inline-block;
  position: relative;
  margin-right: 2vh;
  cursor: pointer;
}

.day:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.day:hover:after {
  width: 100%;
  left: 0;
}

.daySel {
  color: #19e9f0;
  font-size: 2vh;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-weight: bold;
  display: inline-block;
  position: relative;
  margin-right: 2vh;
}

.underline {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  background: #19e9f0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .card,
.selectedCard {
  width: 4em;
  height: 3em;
}
.card_title {
  font-size: 2vw;
}
.timeM {
 font-size: 10px !important;
}
}

@media screen and (max-width: 1000px) {
  .eventsDesktop {
    display: none;
  }
  .eventsMobile {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .eventsDesktop {
    display: block;
  }
  .eventsMobile {
    display: none;
  }
}
.hide {
  display: none;
}
